.event-examples {
  width: 42vw;
  height: 66vh;
  transform-style: preserve-3d;
  background: linear-gradient(
    49deg,
    rgba(245, 248, 249, 0.261) 0%,
    rgba(255, 255, 255, 0.127) 64%,
    rgba(255, 255, 255, 0) 100%
  );
  color: white;
  z-index: 2;
  border-radius: 1.8em;
  padding: 29px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: inset 4px 0px 19px 9px rgb(109 109 109 / 16%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.exampls-ball {
  width: 12vw;
  /* margin: 2vh; */
}

.ball-background {
  fill: url(#radial-gradient);
}

.ball-glow {
  fill: #e2e0e0;
  fill-opacity: initial;
}

.scales-conteiner {
  width: 29vw;
  height: 12vh;
  margin: 0.5vh;
  display: grid;
  grid-gap: 0.5vw;
  grid-template-columns: auto auto;
  direction: ltr;
}

.scale {
  background-color: #ffffff8a;
  color: #e2e0e0;
  border: solid 0.31vh #ffffff;
  height: 5vh;
  width: 14vw;
}

.add-mouseup-animation {
  animation: mouse-up 0.75s forwards;
}

.add-mousedown-animation {
  animation: mouse-down 0.65s forwards;
}

.clear-mousedown-animation {
  animation: clear-mouse-down 0.75s forwards;
}

@keyframes mouse-up {
  0% {
    width: 0%;
  }

  60% {
    width: 100%;
  }

  120% {
    width: 0%;
  }
}

@keyframes mouse-down {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes clear-mouse-down {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

.mouse-down {
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.mouse-up {
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.click {
  position: relative;
  grid-column-end: 3;
  grid-column-start: 1;
  width: 100%;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.scale-color{
  position: absolute;
  left: 0;
  top: 0px;
  height: 100%;
  z-index: 2;
}

.color-of-click {
  
  /* background: linear-gradient(
    70deg,
    rgba(92, 184, 209, 1) 5%,
    rgba(139, 151, 226, 1) 12%,
    rgba(175, 125, 239, 1) 34%,
    rgba(223, 92, 255, 1) 49%,
    rgba(235, 66, 184, 1) 69%,
    rgba(245, 44, 124, 1) 88%,
    rgba(255, 23, 68, 1) 97%
  ); */
  background-color: #ff3162 ;
}
.color-of-mouseup {
  background-color: #5cb8d1 ;
}
.color-of-mousedown {
  background-color: #df5Cff ;
}


.click-text {
  z-index: 2;
  font-size: calc(16px + 1vw);
}

.call-click-animation-up {
  animation: load-up 0.75s forwards;
}

@keyframes load-up {
  0% {
    width: 50%;
  }

  60% {
    width: 100%;
  }

  120% {
    width: 0%;
  }
}
.call-click-animation-down {
  animation: load-down 0.65s forwards;
}

@keyframes load-down {
  to {
    width: 50%;
  }
}

.teash {
  width: 3.3vw;
  position: absolute;
  right: 2.2vw;
  bottom: 30%;
}

.trash-circle {
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 1.3px;
  stroke: url(#linear-trash-gradient);
}
.trash-top {
  fill: #5cb8d1;
}
.trash-bottom {
  fill: url(#linear-trash-gradient-2);
}

/* input part */
.input-examples {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 18vh;
  /* margin: 1vh; */
  width: 72%;
}

.input-text-example {
  text-align: center;
  width: 100%;
  font-size: 2.5vh;
  height: 3.7vh;
  display: flex;
  border: solid #ffffff 0.2vh;
  background: #ffffff60;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  align-items: center;
}

.pick-color-text {
  margin: 1vh;
  font-size: 2.5vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

::placeholder {
  font-size: 2.5vh;
  color: #e2e0e0;
}

.checkbox-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.red-small-rhom {
  background: linear-gradient(
    138deg,
    rgba(239, 93, 162, 1) 5%,
    rgba(250, 27, 104, 1) 31%,
    rgba(255, 0, 80, 1) 52%,
    rgba(207, 0, 67, 1) 77%,
    rgba(153, 0, 52, 1) 100%
  );
}
.blue-small-rhom {
  background: linear-gradient(
    138deg,
    rgba(69, 174, 255, 1) 3%,
    rgba(46, 150, 255, 1) 21%,
    rgba(0, 102, 255, 1) 52%,
    rgba(0, 65, 214, 1) 78%,
    rgba(0, 18, 162, 1) 100%
  );
}
.yellow-small-rhom {
  background: linear-gradient(
    138deg,
    rgba(255, 225, 92, 1) 3%,
    rgba(253, 211, 79, 1) 24%,
    rgba(251, 193, 63, 1) 50%,
    rgba(254, 162, 52, 1) 78%,
    rgba(255, 146, 46, 1) 100%
  );
}

.small-rhom {
  width: 3.3vw;
}

.checkbox {
  border: solid 0.1em #f3f3f3;
  border-radius: 0.15em;
  width: 1.4vw;
  height: 1.4vw;
  background: rgba(255, 255, 254, 0);
}

.single-input-color-choice-container {
  display: flex;
  width: 6.5vw;
  justify-content: space-around;
  align-items: center;
}

/* checkbox-sdtyles */
.container input {
  position: relative;
  right: 2.3vw;
  opacity: 0;
  height: 1.5vh;
  width: 1.5vw;
}

.container {
  width: 1.2vw;
  height: 8.2vh;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  border-radius: 0.15em;
  width: 1.4vw;
  height: 1.4vw;
  background-color: rgba(255, 255, 254, 0);
  border: solid 0.1em #f3f3f3;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 29%;
  top: 4%;
  transform: translate(50%, 50%);
  width: 0.5vw;
  height: 1.2vh;
  border: solid white;
  border-width: 0 0.3vw 0.3vw 0;
  transform: rotate(45deg);
}
