.prev-back-btns-container {
    width: 90%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 50%;
    transform: translate(50%,0);
    bottom: 3vh;
}

.prev-next-btn {
    width: 12vw;
    height: 3vh;
    padding: 0.5em 0;
}

.display-after-animation-btns {
    display: block;
    opacity: 1;
}

.display-none-btns {
    animation: show 3s ease;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
      opacity:1;
    }
  }